﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h1>
            Comenzar Juego:
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="col-md-6 col-md-offset-3">
            <div class="game">
                </br>
                <a class="btn-group-justified btn-lg btn-danger" style="font-size:45px" asp-controller="Home" asp-action="Juego">Jugar</a>
            </div>
        </div>
    </div>
</div>