﻿@model SuarezDiegoExamenFinal.VIewModel.Juego

@{
    ViewData["Title"] = "Juego";
}

<h1>Juego</h1>
<div class="game" id="game">
    <div class="col-md-3" id="playerHand">
        <h2>Juegador 1</h2>
        @for (int i = 0; i < 5; i++)
        {
            <p>@Model.player1Hand[i]</p>
        }

        <h2>Juegador 2</h2>
        @for (int i = 0; i < 5; i++)
        {
            <p>@Model.player2Hand[i]</p>
        }

        <h2>Juegador 3</h2>
        @for (int i = 0; i < 5; i++)
        {
            <p>@Model.player3Hand[i]</p>
        }

        <h2>Juegador 4</h2>
        @for (int i = 0; i < 5; i++)
        {
            <p>@Model.player4Hand[i]</p>
        }

        <h2>Juegador 5</h2>
        @for (int i = 0; i < 5; i++)
        {
            <p>@Model.player5Hand[i]</p>
        }



    </div>

    <div>
        <h2 id="result">
            Ganador: 
            @{
                if (Model.result == 0)
                {
                    <h1>Juegador 1</h1>
                }
                else if (Model.result == 1)
                {
                    <h1>Juegador 2</h1>
                }
                else if (Model.result == 2)
                {
                    <h1>Juegador 3</h1>
                }
                else if (Model.result == 3)
                {
                    <h1>Juegador 4</h1>
                }
                else if (Model.result == 4)
                {
                    <h1>Juegador 5</h1>
                }
                else if (Model.result == 5)
                {
                    <h1>Empate</h1>
                }
            }
        </h2>

    </div>

    

</div>